#navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
#navbar>div:nth-child(1){
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#navbar>div:nth-child(1)>a{
    color: black;
    text-decoration: none;
}
#navbar>div>img{
    height: 42%;   
}
#navbar>div:nth-child(2){
    display: flex;
    width: 50%;
    justify-content: space-around;
}
#navbar>div:nth-child(2)>a{
    color: black;
    text-decoration: none;
}
#slider{
    width: 100%;
    height: 470px;
    margin: auto;
    position: relative;
}
#slider>img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}
#slider>div{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 7%;
}
#slider>div>h3{
    background-color: white;
    color: black;
    padding-right: 3px;
    width: 40%;
    padding: 3px;
    border-radius: 5px;
}
#slider>div>button{
  border-radius: 100%;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#slider>div>button:nth-child(5){
    margin-right: 20px;
}

#text{
    text-align: center;
    font-size: 1.2em;
}
#text>h1,text>p{
    margin-bottom: -10px;
}
#text>button{
    padding: 12px;
}
#text>button:nth-child(3){
    background-color: #E51075;
    color: white;
    margin-right: 16px;
    border: none;
}
#text>button:nth-child(4){
    color: #E51075;
    margin-left: 16px;
}
#popular{
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
#project{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
#project>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-bottom: 15px;
}
#project img{
    width: 100%;
    height: 50%;
    margin-bottom: -13px;
}
#project>div>p{
    color: rgb(92, 91, 91);
    margin-top: -10px;
    margin-left: 5%;
}
#project>div>progress{
    margin-bottom: 8px;
    margin-top: -10px;
    margin-left: 5%;
    width: 90%;
}
#project>div>h4{
    margin-left: 5%;
    color: rgb(77, 73, 73);
    margin-top: -8px;
}
#project>div>h3{
    margin-left: 5%;
}
#project>div>h4:nth-child(6){
    margin-bottom: 10px;
}
#project img+h4{
    color: green;
    margin-bottom: -10px;
}
#poster{
    width: 95%;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 30px;
}
.imgSection{
    height: 60vh;
    position: relative;
    text-align: center;
}
.imgSection>img{
    width: 100%; 
    height: 100%;
    filter:brightness(50%)  
}
.imgSection>h1{
    position: absolute;
    bottom: 40%;  
    color: #fff;
    left: 18%; 
    font-size: 38px; 
}
#poster>div>div+div{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    color: rgb(66, 64, 64);
}
#poster2{
    margin: auto;
    width: 90%;
    /* padding-bottom: 20px; */
    margin-top: 40px;
    position: relative;
}
#poster2>img{
    width: 100%;
    height: 100%;
}
#poster2>div{
    width: 50%;
    text-align: center;
    position: absolute;
    bottom: 16%;
    left:25%;
    font-family: Arial, Helvetica, sans-serif;
}
#poster2>div>p:nth-child(2){
    text-align: left;
    color: #2a2a2a;
    margin-bottom: 27px;
}
#categories{
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#categories>div>button{
    padding: 10px 15px;
}
#categories svg{
    color: #E51075;  
    width: 60px;
    height: 60px; 
}
#categories>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 85%;
    margin: auto;
    gap: 30px;
    font-size: 12px;
    margin-top: 20px;
}
#review{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
#review>div{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: left;
}
#review>div img{
    width: 100%;
}
#review>div p{
    margin-top: -5px;
    margin-bottom: -5px;
    color: rgb(100, 100, 100);
}
#bottom{
    margin-top: 40px;
    height: 35vh;
    position: relative;
}
#bottom>div{
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#bottom button{
    padding: 10px 20px;
    font-weight: bold;
}
#bottom>div>button:nth-child(3){
    color: white;
    background-color: #E51075;
    border: none;
    margin-right: 20px;
}
#bottom>div>button:nth-child(4){
    color: #E51075;
    border: 1px solid #E51075;
}
#bottom>img{
    position: absolute;
    bottom: 5px;
    left: 5%;
    width: 20%;
}

